<!DOCTYPE html>
<html lang="en">

<head>
    <title>Offers</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Destino project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesh/bootstrap4/bootstrap.min.css">
    <link href="/pluginsh/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/stylesh/main_styles.css">
    <link rel="stylesheet" type="text/css" href="/stylesh/offers_styles.css">
    <link rel="stylesheet" type="text/css" href="/stylesh/offers_responsive.css">
</head>

<body>

    <div class="super_container">

        <!-- Header -->

        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="header_container d-flex flex-row align-items-center justify-content-start">

                            <!-- Logo -->
                            <div class="logo_container">
                                <div class="logo">
                                    <div>Trip Kerala</div>
                                    <div>travel website</div>
                                    <div class="logo_image"><img src="/imagesh/logo.png" alt=""></div>
                                </div>
                            </div>

                            <!-- Main Navigation -->
                            <nav class="main_nav ml-auto">
                                <ul class="main_nav_list">
                                    <li class="main_nav_item active"><a href="/index">Home</a></li>

                                    <li class="main_nav_item"><a href="/offers">Where to go</a></li>


                                </ul>
                            </nav>

                            <!-- Search -->
                            <div class="search">
                                <form action="#" class="search_form">
                                    <input type="search" name="search_input" class="search_input ctrl_class" required="required" placeholder="Keyword">
                                    <button type="submit" class="search_button ml-auto ctrl_class"><img src="/imagesh/search.png" alt=""></button>
                                </form>
                            </div>

                            <!-- Hamburger -->
                            <div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>

                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Menu -->

        <div class="menu_container menu_mm">

            <!-- Menu Close Button -->
            <div class="menu_close_container">
                <div class="menu_close"></div>
            </div>

            <!-- Menu Items -->
            <div class="menu_inner menu_mm">
                <div class="menu menu_mm">
                    <div class="menu_search_form_container">
                        <form action="#" id="menu_search_form">
                            <input type="search" class="menu_search_input menu_mm">
                            <button id="menu_search_submit" class="menu_search_submit" type="submit"><img src="/imagesh/search_2.png" alt=""></button>
                        </form>
                    </div>
                    <ul class="menu_list menu_mm">
                        <li class="main_nav_item active"><a href="/index">Home</a></li>
                        <li class="main_nav_item"><a href="/offers">Where to go</a></li>
                    </ul>

                    <!-- Menu Social -->

                    <div class="menu_social_container menu_mm">
                        <ul class="menu_social menu_mm">
                            <li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                            <li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>

                </div>

            </div>

        </div>

        <!-- Home -->

        <div class="home">
            <!-- Image by https://unsplash.com/@peecho -->
            <div class="home_background parallax-window" data-parallax="scroll" data-image-src="/imagesh/wheretotheme.jpg" data-speed="0.8"></div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content">
                            <div class="home_content_inner">
                                <div class="home_title">
                                    Where To GO
                                </div>
                                <div class="home_breadcrumbs">
                                    <ul class="home_breadcrumbs_list">
                                        <li class="home_breadcrumb"><a href="/index">Home</a></li>
                                        <li class="home_breadcrumb">
                                            Where To Go
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Popular -->

        <div class="popular">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="section_title text-center">
                            <h2>ITS ONE AND ONLY KERALA</h2>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="popular_content d-flex flex-md-row flex-column flex-wrap align-items-md-center align-items-start justify-content-md-between justify-content-start">
                            <% for(i=0;i<Hill.length();i++)%>
                                <!-- Popular Item -->
                                <div class="popular_item">
                                    <a href="offers.html">
                                        <img src=< %=Hill[i].img %> alt="image by Egzon Bytyqi">
                                        <div class="popular_item_content">

                                            <div class="popular_item_title">
                                                <%=Hill[i].name%>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <%}%>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Footer -->

        <footer class="footer">
            <div class="container">
                <div class="row">

                    <!-- Footer Column -->
                    <div class="col-lg-4 footer_col">
                        <div class="footer_about">
                            <!-- Logo -->
                            <div class="logo_container">
                                <div class="logo">
                                    <div>Trip Kerala</div>
                                    <div>travel website</div>
                                    <div class="logo_image"><img src="/imagesh/logo.png" alt=""></div>
                                </div>
                            </div>
                            <div class="footer_about_text">A tropical paradise where you can paddle in tranquil backwaters, trek the rocky Western Ghats, chase the mists in the hill stations, rejuvenate with pristine Nature and Ayurvedic treatments, hug the unspoiled beaches and so
                                much more. Kerala isn’t just a destination; it’s a saga of experiences!. contact:8899776644
                            </div>
                        </div>
                    </div>

                    <!-- Footer Column -->


                    <!-- Footer Column -->


                </div>
            </div>
        </footer>
    </div>

    <script src="/jsh/jquery-3.2.1.min.js"></script>
    <script src="/stylesh/bootstrap4/popper.js"></script>
    <script src="/stylesh/bootstrap4/bootstrap.min.js"></script>
    <script src="/pluginsh/greensock/TweenMax.min.js"></script>
    <script src="/pluginsh/greensock/TimelineMax.min.js"></script>
    <script src="/pluginsh/scrollmagic/ScrollMagic.min.js"></script>
    <script src="/pluginsh/greensock/animation.gsap.min.js"></script>
    <script src="/pluginsh/greensock/ScrollToPlugin.min.js"></script>
    <script src="/pluginsh/Isotope/isotope.pkgd.min.js"></script>
    <script src="/pluginsh/easing/easing.js"></script>
    <script src="/pluginsh/parallax-js-master/parallax.min.js"></script>
    <script src="/jsh/offers_custom.js"></script>
</body>

</html>